#canvas {
    margin: auto;
    background: #ececec;
    width: 100%;
  }
  
  .btn-disabled {
    color: black !important;
  }

  canvas.disable, div.disable {
    display: none;
  }

  canvas.active, div.active {
    display: block;
  }
